:root {
  --text-color: #F2FFFD;
  --background-color: #0d0d27;
  --dashboard-background-color: #1284a0;
  --header-background-color: #1b1b42;
  --submit-btn-bgcolor: #263d7c;
  --inputs-color: #C8E7E9;
  --highlights-color-2: #D7FDFD;
  --accents-color: #FFDCF9;

  /* https://coolors.co/ffdcf9-f2fffd-c8e7e9-11103e-d7fdfd */
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background-color);
  color: white;
  padding: 10px 20px;
}


.navbar .welcome-message {
  font-size: 18px;
}

.navbar .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.logout-btn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ff6666;
}

.content {
  display: flex;
  flex: 1;
}

.filters {
  background-color: var(--background-color);
  padding: 20px;
  width: 250px;
  color: white;
}

.filters h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.filters ul {
  list-style: none;
  padding: 0;
}

.filters li {
  margin-bottom: 15px;
}

.filters input[type="radio"] {
  margin-right: 10px;
}

.apply-filter-btn {
  background-color: #b8bdfa;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.apply-filter-btn:hover {
  background-color: #ffb366;
}

.filter-results {
  background-color: var(--dashboard-background-color);
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.query-section {
  background-color: #15165a;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}

.query-category {
  background-color: #2e6aca;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.query-box {
  background-color: #8cc9f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.query-box p {
  margin: 0;
  padding: 5px 0;
}

.action-buttons {
  margin-top: 10px;
}

.edit-btn,
.delete-btn {
  border: none;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #087f83;
}

.delete-btn {
  background-color: #e63d3d;
}

.edit-btn:hover,
.delete-btn:hover {
  opacity: 0.8;
}

.add-question-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
}

.add-question-form,
.edit-question-form {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
}

.add-question-form h3,
.edit-question-form h3 {
  margin-top: 0;
  font-size: 18px;
}

.add-question-form label,
.edit-question-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-question-form select,
.add-question-form input,
.edit-question-form select,
.edit-question-form input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.save-btn,
.cancel-btn {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.save-btn {
  background-color: #28a745;
  color: white;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
  margin-left: 10px;
}

.add-question-form input::placeholder,
.edit-question-form input::placeholder {
  color: #888;
}
