/* landing.css */
:root {
    --deep-sea: #013a63;
    --midnight-blue: #001f3f;
    --text-color: #ffffff;
    --faculty-card: #1a638a;
    --bg-color: #151450;
}

h2 {
    color: var(--text-color);
}

.landing-main {
    background-color: var(--bg-color);
}

.header {
    background-color: var(--deep-sea);
    color: var(--text-color);
}

.navbar {
    background-color: var(--midnight-blue);
    color: var(--text-color);
    padding-top: 1.5rem; /* Add more padding to increase height */
    padding-bottom: 1.5rem; /* Add more padding to increase height */
}

.navbar a {
    color: var(--text-color);
}

.section {
    padding-top: 5rem; /* Adjust the value as needed */
    margin-top: -5rem; /* Adjust the value as needed to offset the padding */
}

.section-title {
    color: var(--deep-sea);
}

.card {
    background-color: var(--text-color);
    color: var(--midnight-blue);
}

.button {
    background-color: var(--deep-sea);
    color: var(--text-color);
}

.button:hover {
    background-color: var(--midnight-blue);
}

.landing-card {
    background-color: var(--faculty-card);
    color: var(--text-color);
}