.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    background-color: #f9f9f9;
  }
  
  .chatbot-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .chatbot-message {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
    word-wrap: break-word;
  }
  
  .chatbot-message.user {
    align-self: flex-end;
    background-color: #0084ff;
    color: white;
  }

  .user, .bot {
    max-width: 75%;
  }
  
  .user-chat {
    display: flex;
    flex-direction: row-reverse;
  }

  .bot-chat {
    display: flex;
    flex-direction: row;
  }

  .chatbot-message.bot {
    align-self: flex-start;
    background-color: #e4e6eb;
    color: black;
  }
  
  .chatbot-input-container {
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
  }
  
  .chatbot-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .chatbot-submit {
    margin-left: 10px;
    padding: 10px;
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chatbot-submit:hover {
    background-color: #006bbf;
  }
  
  .chatbot-error {
    color: red;
    margin-top: 10px;
  }
  